importFrom("e1071", "interpolate")
importFrom("mvtnorm", "pmvnorm", "rmvnorm")

export("SimulVals",
       "bincorr2commonprob",
       "check.commonprob",
       "commonprob2sigma",
       "condprob",
       "ra2ba",
       "rmvbin",
       "simul.commonprob")
